@media screen and (max-width:360px) {ul.deck {
  width:300px; min-height: 257px; padding: 15px;}}
@media screen and (max-width:360px) {ul.deck li.card { height: 50px;
    width: 60px; border-radius: 15px;}}
    /* end with nexus 5 responsivniss */
@media screen and (min-width:1366px) {ul.deck{width: 500px;
    min-height: 500px;}}
@media screen and (min-width:1366px) {ul.deck li.card { height: 100px;
    width: 100px; border-radius: 8px;}}
    /* end with desktop responsivniss */
/*-----------------------------------------------------*/
@media only screen and (min-width: 411px) and (max-width: 731px) {
    ul.deck{ width: 300px; min-height: 100px; }}
@media only screen and (min-width: 411px) and (max-width: 731px) {
      ul.deck li.card{ height: 50px; padding: 15px; width: 50px;  }}
/*---------------------------------end pixel responsivniss-------------------*/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2)
{ul.deck li.card{height: 50px; width: 50px;} }
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2)
{ul.deck {width: 300px; min-height: 300px;} }
/*------------------------end iphone6/7/8 responsivness------------------------*/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3)
{ ul.deck {width: 300px; min-height: 350px;}}
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3)
{ ul.deck li.card{height: 50px; width: 55px;}}
/*------------------------end iphoneX responsivness------------------------*/
@media only screen and (min-width: 384px) and (max-width: 640px){ul.deck{width: 300px;
    min-height: 300px;}}
@media only screen and (min-width: 384px) and (max-width: 640px){ul.deck li.card{height: 50px;
    width: 50px;}}
/*-------------------------end optimus lg phone responsivness--------------*/


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #b8d0a9 0%, #769660 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #c2698c;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #f7bed3;
    font-size: 33px;
}

.danger {
  background: red;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
